:root {
}

.bar {
    background-color: rgb(140, 201, 36);
    flex-direction: column;
    flex-grow: 1;
}
.bar:hover{
     background-color: rgb(120, 181, 16);
}

.text {
    color: rgb(255, 165, 0);
    font-size: 18px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
}
